name: test 

on:
  schedule:
    - cron: "33 19 * * *"
  workflow_dispatch: 
    inputs:
      workflow_id:
        type: string
        required: false
        default: ""
jobs:
  test:
    steps:

      - name: test
        if: ${{ github.event_name == 'schedule' }}
        uses: actions/checkout@v2
        with:
          ref:  'testBranch'
          fetch-depth: 0
      
      - name: test master
        if: ${{ github.event_name != 'schedule' }}
        uses: actions/checkout@v2
        with:
          ref:  'master'
          fetch-depth: 0      
      - name: test echo
        run: echo "done"
