name: test 

on:
  schedule:
    - cron: "26 19 * * *"
  workflow_dispatch: 
    inputs:
      workflow_id:
        type: string
        required: false
        default: ""
jobs:
  test:
    runs-on: [self-hosted]
    steps:

      - name: test
        uses: actions/checkout@v2
        with:
          ref: ${{ if (github.event_name == 'schedule') 'testBranch' ${{ else }} 'master' ${{ endif }}
          fetch-depth: 0
      
      - name: test echo
        run: echo "done"
